@theme "/dev/null"

configuration {
    show-icons:      false;
    hover-select:    true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

* {
    bg:               #282828D9;
    panel:            #1d2021E8;
    cream:            #ebdbb2;
    gold:             #fabd2f;
    border:           #504945;
    font:             "JetBrainsMono Nerd Font 15";
    background-color: transparent;
    text-color:       @cream;
}

window {
    fullscreen:       true;
    background-color: @bg;
    padding:          38% 12%;
    children:         [ mainbox ];
}

mainbox {
    children:         [ prompt, listview ];
    spacing:          18px;
    background-color: transparent;
}

prompt {
    horizontal-align: 0.5;
    font:              "JetBrainsMono Nerd Font 14";
    text-color:        @gold;
}

listview {
    layout:            horizontal;
    lines:             5;
    spacing:           14px;
    fixed-height:      true;
    background-color:  transparent;
}

element {
    orientation:       vertical;
    width:             176px;
    padding:           24px 0px;
    border-radius:     8px;
    border:            1px;
    border-color:      @border;
    background-color:  @panel;
    cursor:            pointer;
}

element-text {
    horizontal-align:  0.5;
    vertical-align:    0.5;
    text-color:        inherit;
}

element selected {
    background-color: @gold;
    border-color:     @gold;
    text-color:       #282828;
}
